In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
from click import option
from pyspark.sql import SparkSession
import pyspark.pandas as pd
from pyspark.sql.functions import *
spark=SparkSession.builder\
    .appName("que1")\
    .config("spark.sql.shuffle.partition","2")\
    .getOrCreate()
df=spark.read\
    .option("user","root")\
    .option("password","manager")\
    .option("driver","com.mysql.cj.jdbc.Driver")\
    .jdbc(url="jdbc:mysql://localhost:3306/classwork_db",table="emp")
df1=df.select("deptno","sal")\
        .groupby('deptno')\
        .sum('sal')
df1.show()
pdf=pd.DataFrame(df1)
pdf.plot.bar(x="deptno",y='sum(sal)')

In [ ]:
pdf=pd.DataFrame(df1).set_index('deptno')
pdf.plot.pie(y='sum(sal)')

In [ ]:
df2=df.select('empno','deptno')\
    .groupby('deptno')\
    .count()

In [ ]:
pdf2=pd.DataFrame(df2)
pdf2.plot.bar(x='deptno',y='count')

In [ ]:
pdf2=pd.DataFrame(df2).set_index('deptno')
pdf2.plot.pie(y='count')

In [ ]:

df3=df.select('ename','sal')\
    .withColumn('totalsal',sum('sal').over())