# classification using DL

## problem definition
- predict if a customer will churn

### pre-requisites

In [3]:
import warnings
warnings.filterwarnings(action="ignore")

# install tensorflow
# %pip install tensorflow

### import reqiured packages

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import pickle

### load the data

In [5]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.shape

(10000, 14)

### EDA

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [16]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

### pre-processing

In [8]:
# remove unwanted columns
df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1, inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder

# encode the Geography Column
geography_encoder = LabelEncoder()
geography_encoder.fit(df['Geography'])
df['Geography'] = geography_encoder.transform(df['Geography'])

# save the geography encoder 
with open("geography_encoder.pkl", "wb") as file:
    pickle.dump(geography_encoder, file)

In [13]:
# encode the Gender column
gender_encoder = LabelEncoder()
gender_encoder.fit(df['Gender'])
df['Gender'] = gender_encoder.transform(df['Gender'])

# save the gender encoder
with open("gender_encoder.pkl", "wb") as file:
    pickle.dump(gender_encoder, file)

In [15]:
df.corr()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
CreditScore,1.000000,0.007888,-0.002857,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094
Geography,0.007888,1.000000,0.004719,0.022812,0.003739,0.069408,0.003972,-0.008523,0.006724,-0.001369,0.035943
Gender,-0.002857,0.004719,1.000000,-0.027544,0.014733,0.012087,-0.021859,0.005766,0.022544,-0.008112,-0.106512
Age,-0.003965,0.022812,-0.027544,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323
Tenure,0.000842,0.003739,0.014733,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001
Balance,0.006268,0.069408,0.012087,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533
NumOfProducts,0.012238,0.003972,-0.021859,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820
HasCrCard,-0.005458,-0.008523,0.005766,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138
IsActiveMember,0.025651,0.006724,0.022544,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128
EstimatedSalary,-0.001384,-0.001369,-0.008112,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097
Exited,-0.027094,0.035943,-0.106512,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000

In [17]:
# split data into x and y
x = df.drop('Exited', axis=1)
y = df['Exited']

In [47]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  int64
 2   Gender           10000 non-null  int64
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(8)
memory usage: 781.4 KB

In [48]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

### train DL model

In [44]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

# create a model
model = Sequential()

# add input layer
model.add(Dense(units=64, input_shape=[x.shape[1]]))

# add a hidden layer
model.add(Dense(units=32, activation="relu"))

# add a hidden layer
model.add(Dense(units=16, activation="relu"))

# add an output layer
model.add(Dense(units=1, activation="sigmoid"))

# compile the model
optimizer = tf.optimizers.Adam(learning_rate=0.02)
loss_function = tf.losses.binary_crossentropy
model.compile(optimizer=optimizer, loss=loss_function, metrics=["accuracy"])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [45]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

# create a callback for storing all the logs for tensorboard
callback_tensorboard = TensorBoard(log_dir="logs")

# create an early stop callback
callback_early_stop = EarlyStopping(monitor="accuracy", patience=5)

# build the model
model.fit(x, y, epochs=500, callbacks=[callback_early_stop, callback_tensorboard])

Epoch 1/500
313/313 [==============================] - 1s 455us/step - loss: 88.2133 - accuracy: 0.7488
Epoch 2/500
313/313 [==============================] - 0s 383us/step - loss: 0.5411 - accuracy: 0.7886
Epoch 3/500
313/313 [==============================] - 0s 390us/step - loss: 0.5127 - accuracy: 0.7939
Epoch 4/500
313/313 [==============================] - 0s 381us/step - loss: 0.5110 - accuracy: 0.7942
Epoch 5/500
313/313 [==============================] - 0s 386us/step - loss: 0.5091 - accuracy: 0.7962
Epoch 6/500
313/313 [==============================] - 0s 549us/step - loss: 0.5057 - accuracy: 0.7963
Epoch 7/500
313/313 [==============================] - 0s 394us/step - loss: 0.5059 - accuracy: 0.7963
Epoch 8/500
313/313 [==============================] - 0s 375us/step - loss: 0.5059 - accuracy: 0.7963
Epoch 9/500
313/313 [==============================] - 0s 381us/step - loss: 0.5058 - accuracy: 0.7963
Epoch 10/500
313/313 [==============================] - 0s 382us/step - loss: 0.5063 - accuracy: 0.7963
Epoch 11/500
313/313 [==============================] - 0s 378us/step - loss: 0.5062 - accuracy: 0.7963

In [41]:
# save the model
model.save("churn_model.h5")

### visulization of model

In [42]:
# load the tensorboard extension
%load_ext tensorboard

# start a new tensorboard session
%tensorboard --logdir logs

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 89211), started 0:03:27 ago. (Use '!kill 89211' to kill it.)