# Shuffling and dividing the data into train and test sets

### import required packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### load the data

In [2]:
df = pd.read_csv('hearing_test.csv')
df.head()

    age  physical_score  test_result
0  33.0            40.7            1
1  50.0            37.2            1
2  52.0            24.7            0
3  56.0            31.0            0
4  35.0            42.9            1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             5000 non-null   float64
 1   physical_score  5000 non-null   float64
 2   test_result     5000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 117.3 KB

### Preprocessing the data

In [4]:
# split the data into x and y
x = df.drop('test_result', axis=1)
y = df['test_result']

### split the data into train and test

In [6]:
from sklearn.model_selection import train_test_split

# split the data into train and test data sets
x_train, x_test, y_train, y_test =  train_test_split(x, y, train_size=0.7, 
                                     random_state=123456, shuffle=True)

In [7]:
x_train

       age  physical_score
2537  79.0            10.2
1175  43.0            36.9
485   41.0            39.6
3651  51.0            36.4
4618  52.0            36.1
...    ...             ...
2799  60.0            21.2
171   44.0            28.3
3640  46.0            40.0
3121  47.0            38.1
4594  50.0            33.6

[3500 rows x 2 columns]