# Association rules mining

### pre-requisites

In [1]:
import warnings
warnings.filterwarnings(action="ignore")

# install mlxtend
%pip install mlxtend

Requirement already satisfied: mlxtend in /opt/homebrew/lib/python3.11/site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.11.3)
Requirement already satisfied: numpy>=1.16.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### import required packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### load the data

In [3]:
# list of lists
transactions = [
    ["bread", "cheese", "egg", "juice"],
    ["bread", "cheese", "juice"],
    ["bread", "milk", "yogurt"],
    ["bread", "juice", "milk"],
    ["cheese", "juice", "milk"]
]

### pre-processing

In [4]:
from mlxtend.preprocessing import TransactionEncoder

# create an encoder object
encoder = TransactionEncoder()

# encode the data
transactions_encoded = encoder.fit(transactions).transform(transactions)

In [5]:
transactions_encoded

array([[ True,  True,  True,  True, False, False],
       [ True,  True, False,  True, False, False],
       [ True, False, False, False,  True,  True],
       [ True, False, False,  True,  True, False],
       [False,  True, False,  True,  True, False]])

In [7]:
encoder.columns_

['bread', 'cheese', 'egg', 'juice', 'milk', 'yogurt']

In [8]:
# create a data frame using the encoded transactions
df = pd.DataFrame(transactions_encoded, columns=encoder.columns_)

In [9]:
df.head()

   bread  cheese    egg  juice   milk  yogurt
0   True    True   True   True  False   False
1   True    True  False   True  False   False
2   True   False  False  False   True    True
3   True   False  False   True   True   False
4  False    True  False   True   True   False

### association rules mining

In [14]:
from mlxtend.frequent_patterns import apriori

rules = apriori(df, use_colnames=True, min_support=0.6)
rules

   support         itemsets
0      0.8          (bread)
1      0.6         (cheese)
2      0.8          (juice)
3      0.6           (milk)
4      0.6   (juice, bread)
5      0.6  (juice, cheese)